.container {
  position: relative;
  display: inline-block;
  min-width: 300px;
  max-width: 100%;
}

.container input {
  display: inline-block;
  background-color: #112A45;
  font-size: larger;
  color: white;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
}
.container input:hover {
  border: 1px solid white;
  background-color: rgba(17, 42, 69,0.5);
}

.arrow_container {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -2px;
  cursor: pointer;
}

.arrowDown {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translateY(45deg);
  -webkit-transform: rotate(45deg);
}

.arrowUp {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translateY(225deg);
  -webkit-transform: rotate(225deg);
}

.options {
  display: flex;
  flex-direction: row;
  color: white;
  position: absolute;
  border-bottom: none;
  border-top: none;
  box-sizing: border-box;
  display: none;
  z-index: 999;
}

.optionVisibility {
  display: block;
}

.optionContainer {
  display: flex;
  flex-direction: row;
  background-color: #193957;
  border: 1px solid #373737;
  border-radius: 5px;
}
.optionItems {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: left;
  width: 300px;
  height: 40px;
  padding: 25px 10px ;
  cursor: pointer;
  font-size: large;
}

.optionItems:hover {
  background-color: #3684cc;
  color: white;
}
