.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 200px;
  background-color: rgba(12, 31, 50, 0.123);
  color: white;
  text-align: center;
  opacity: 0.5;
}
.active {
  opacity: 1;
  background-color: rgba(12, 31, 50, 1);
}

.box.active {
  opacity: 1;
  background-color: rgba(12, 31, 50, 1);
}
