.container {
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
}
.topBoxGroup {
  display: flex;
  flex-direction: column;
}

.btn {
  float: right;
  background-color: transparent;
  border: none;
  text-decoration: underline;
}
