.container  {
  position: relative;
  background-color: #0C1F32;
}
.svgViewBox {
  position: relative;
  overflow: hidden;
}
.mapViewBox {
  overflow: hidden;
}

.stateBGPath {
  stroke: white;
  fill: rgb(240, 239, 239);
}
.statePath {
  z-index: 800;
  stroke: black;
  stroke-width: 0.5px;
}
.statePathSelected{
  stroke-width: 2px;
}

.statePath:hover {
  stroke-width: 1;
  stroke: white;
  stroke-dasharray: 3 3;
}

.tooltip {
  position: absolute;
  overflow: visible;
  z-index: 999;
  border: 1px solid white;
  background-color: #255785;
  border-radius: 5px;
  text-align: left;
}

.tooltipContent {
  position: relative;
  color: white;
  padding: 15px;
}

.toolTipTitle {
  font-size: large;
}

.zoomOut {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 16px;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 30px;
}
