.conatiner {
  position: relative;
  background-color: rgba(12, 31, 50, 0.8);
  border: 1px solid black;
  height: 550px;
  width: 800px;
  margin: 25px;
}
.stateBGPath {
  stroke: white;
  fill: rgb(240, 239, 239);
  stroke-width: 1px;
}
.statePath {
  z-index: 800;
  stroke: black;
}

.statePath:hover {
  stroke-width: 2;
  stroke: white;
  stroke-dasharray: 5 5;
}

.tooltip {
  position: absolute;
  z-index: 999;
  border: 1px solid white;
  background-color: #255785;
  border-radius: 5px;
  width: 200px;
  text-align: left;
}

.tooltipContent {
  color: white;
  padding: 15px;
}

.toolTipList {
  color: white;
}

.toolTipTitle {
  font-size: large;
}

.zoomOut {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 16px;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 30px;
}
