.mainConatiner, .container {
  background-color: rgba(12, 31, 50, 1);
  width: 700px;
  height: 700px;
}

.circle:hover {
  stroke: white;
  stroke-width: 2px;
}

.circleContent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleText {
  text-align: center;
}

.tooltip {
  position: absolute;
  overflow: visible;
  border: 1px solid white;
  background-color: #255785;
  border-radius: 5px;
  width: 200px;
  top: calc(50%);
  left: calc(100%); /* position the tooltip to the left of the circle */
  text-align: left;
  z-index: 999;
}

.tooltipContent {
  color: white;
  padding: 15px;
}

.toolTipList {
  color: white;
}

.toolTipTitle {
  margin-bottom: 10px;
}

.toolTipCount {
  font-weight: bold;
}

.mainConatiner .svgContainer {
  animation: svg-animation 2s ease-in-out;
  transform-origin: top left;
}


@keyframes svg-animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
